
<!--

body { 
    font-family: Arial, Helvetica, sans-serif;
    color: #040498; 
    scrollbar-face-color: #ffffff;
    scrollbar-shadow-color: #020266;
    scrollbar-highlight-color: #0000A0;
    scrollbar-3dlight-color: #cccccc;
    scrollbar-darkshadow-color: #0000A0;
    scrollbar-track-color: #ffffff;
    scrollbar-arrow-color: #99ccee; 
    /*max-width: 940px; */
/*    margin-left: auto;
    margin-right: auto; */
};
p { text-align: left;}
tdhead (font-style: strong;);
.tdhead (font-style: strong;);
/* table, simple_table { border-collapse: collapse; } */
/* table, th, td { border: 1px solid black; vertical-align: top;} */
table, th, td { vertical-align: top;}
menu {font-family: Arial, Helvetica, sans-serif; font-size: 175%; text-align: center; }
.menu {font-family: Arial, Helvetica, sans-serif; font-size: 175%; text-align: center; }

.plain-text { font-family: monospace; color: #000}
	
.simple-table {
  display: table;         
  width: 850px;     
  table-layout: fixed;
  /* background-color: #eee;         
  border: 1px solid #666666;  */       
  border-spacing: 25px; /* cellspacing:poor IE support for  this */
}
.simple-table-row {
  display: table-row;
  width: auto;
  clear: both;
  border-spacing: 25px;
}
.simple-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column; 
  padding: 25px;
  vertical-align: top;
  /* width: 200px;         
  background-color: #ccc; */ 
}
.simple-table-colheader {
  float: left; /* fix for  buggy browsers */
  text-align: center;
  display: table-column; 
  padding: 25px;
  /* width: 200px;         
  background-color: #ccc; */ 
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
-->
